extends layout.pug

block content
    h4 Change Title of Video
    form(method="POST")
        input(name="title" type="text" placeholder="Video Title" value=video.title required)
        input(name="description" type="text" placeholder="Description" required minlength=20 value=video.description)
        input(name="hashtags" type="text" placeholder="Hashtags, separated by comma" required value=video.hashtags.join())
        input(value="Save", type="submit")